{% extends "base.html" %}

{% block main %}
    <h1>Metrics</h1>
    <div>
      {% for metric in metrics %}
      <div class="metric">
        {% match metric.latest %}
          {% when Some with (dp) %}
            <span class="metric-value metric-value-{{ dp.ok.to_string() }}">
              {{ dp.value_string()|e }}
            </span>
          {% when None %}
            <span class="metric-value metric-value-missing">?</span>
        {% endmatch %}
        <span class="metric-name">{{ metric.key.display_name()|e }}</span>
      </div>
      {% endfor %}
    </div>
{% endblock %}
