{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/third-party/protobuf.js-6.10.2/dist/minimal/protobuf.min.js" defer="true"></script>
    <script type="text/javascript" src="/static/monitor_web_socket.js" defer="true"></script>
    <script type="module" src="/static/index.js"></script>
{% endblock %}

{% block main %}
    <div id="pre-app">
      <h1>Metrics</h1>
      <div>
        {% for metric in metrics %}
        <div class="metric">
          {% match metric.latest %}
          {% when Some with (dp) %}
          <span class="metric-value metric-value-{{ dp.ok.to_string() }}">
            {{ dp.value_string()|e }}
          </span>
          {% when None %}
          <span class="metric-value metric-value-missing">?</span>
          {% endmatch %}
          <span class="metric-name">{{ metric.key.display_name()|e }}</span>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="app" style="display: none">
      <h1>Metrics</h1>
      <div v-if="showAskNotificationPermission">
        <span>Allow notifications?</span>
        <button @click="notificationsAllow">Allow</button>
        <button @click="notificationsDisable">Disable</button>
      </div>
      <div v-else>
        Notifications are
        <em v-text="notificationStatus"></em>
        <button @click="notificationsTest">Test</button>
        <button v-if="notificationStatus === 'granted'"
                @click="notificationsDisable">Disable</button>
        <button v-if="notificationStatus === 'disabled'"
                @click="notificationsAllow">Allow</button>
        <span v-if="notificationStatus === 'denied'">
          You need to use your browser to enable them again
        </span>
      </div>
      <div>
        <span>Connection status: </span>
        <em v-text="connStatus.state"></em>
      </div>
      <div id="summary">
        <span class="metric-value-Ok">
          <span v-text="metricsNumOk"></span>
          Ok
        </span>
        and
        <span class="metric-value-Err">
          <span v-text="metricsNumErr"></span>
          Err
        </span>
      </div>
      <div>
        <div v-for="metric in metrics" v-bind:key="metric.metricKey" class="metric">
          <span v-bind:class="['metric-value', 'metric-value-' + (metric.ok ? 'Ok' : 'Err')]"
                v-text="metric.value"></span>
          <span class="metric-name" v-text="metric.metricKey"></span>
        </div>
      </div>
    </div>
{% endblock %}
