.metric-value {
    padding-right: 0.5em;
    width: 3em;
    display: inline-block;
}

.metric-value-missing {
    color: #cc0000;
}

.metric-value-Ok {
    color: #00cc00;
}

.metric-value-Err {
    color: #cc0000;
}

.metric-log {
    padding-right: 0.5em;
}

#login label {
    width: 100px;
    display: inline-block;
}
